.App {
  background-color: #232324;
  color: white;
  height: 1000vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Courier New';
  font-size: medium;
}
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: medium;
  background: transparent;
  box-sizing: border-box;
  color: white;
  width: 100%;
  overflow: auto;
  font-family: 'Courier New';
}

.terminal {
  white-space: pre-line;
}

.input-line {
  display: flex; 
  align-items: center;
}
.mini-description {
  display: inline;
}

.Title{
  font-size: 10%;
}
.green{
  display: inline;
  color: rgb(167, 245, 167);
  font-weight: bold;
}
.input-line input{
  margin-left: 5px;
}
.input-line span{
  font-weight: bold;
}
.command-cell{
  white-space: nowrap;
  text-align: left; 
  vertical-align: top;
  color: rgb(167, 245, 167); 
  font-weight: bold;
}
.link {
  text-decoration: underline;
  color: white; /* Pour que le texte des liens soit blanc */
}
.title{
  font-size: large;
}